@use "/src/sass/abstract" as *;

@include keyframes(spin) {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loading {
	@include absolute-position(auto, auto, $spacing-5, $spacing-5);
	border: 4px solid rgba(0, 0, 0, 0.1);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-left-color: $primary-dark;

	animation: spin 1s ease infinite;
}
