@use "/src/sass/abstract" as *;

.starship-card-list {
	margin: $spacing-4;

	@include breakpoint(sm) {
		height: 60vh;
		overflow-y: auto;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, auto));

		&__item {
			flex: 1;
			min-width: 300px;
			margin: $spacing-2;
		}
	}
}
