@use "/src/sass/abstract" as *;

.form-control {
	@include flex-column;

	&__label {
		font-style: italic;
		color: gray;
		margin-bottom: $spacing-1;
	}

	&__input[role="text"] {
		height: 30px;
		border: 1px solid $slate;
		padding: 0 $spacing-2;
		transition: background-color 200ms ease-in-out;

		&:hover {
			background-color: $slate-light;
		}

		&:focus {
			outline: none;
		}
	}

	&__input[role="button"] {
		width: 70px;
		height: 33px;
		text-transform: uppercase;
		border-radius: $rounded-sm;
		@include shadow(sm);
		border: none;
		transition: background 300ms ease-in-out;
		background: $acent-dark;
		min-width: 70px;
		width: auto;
		padding: 0 $spacing-4;
		color: $white;
		cursor: pointer;

		&:hover {
			background: $acent;
		}
	}
}
