// COLORS
$primary-dark: #034c53;
$primary: #017074;

$acent-dark: #db7f50;
$acent: #f6c8ae;

$secondary-dark: #7f8563;
$secondary: #d1d5bd;

$white: #fafafa;

//FONT SIZES
$font-size-xs: 0.75rem; /* 12px */
$font-size-sm: 0.875rem; /* 14px */
$font-size-md: 1rem; /* 16px */
$font-size-lg: 1.125rem; /* 18px */
$font-size-xl: 1.25rem; /* 20px */
$font-size-2xl: 1.5rem; /* 24px */
$font-size-3xl: 1.875rem; /* 30px */
$font-size-4xl: 3rem; /* 48px */

//SPACING
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
