@use "/src/sass/abstract" as *;

.page-selector {
	&__button-group {
		display: flex;
		justify-content: center;
		padding: $spacing-2 0;

		&__button {
		}

		&__range {
			@include flex-center-vert;
			margin: 0 $spacing-8;
		}
	}
}
