@import "./../../../../ui//shared/styles/device-width";
@import "./../../../../ui//shared/styles/mixins";

.main-layout {
	display: grid;

	grid-template-rows: 50px auto 1fr;
	grid-template-areas:
		"header"
		"navigation"
		"content";
	height: 100vh;

	@include breakpoint(sm) {
		grid-template-columns: 1fr 4fr;
		grid-template-rows: 1fr 12fr;
		grid-template-areas:
			"header header"
			"navigation content";
	}

	&__navigation-menu {
		grid-area: navigation;
		min-width: 250px;
	}

	&__header {
		grid-area: header;
	}

	&__main {
		grid-area: content;
		overflow-y: auto;

		@include breakpoint(sm) {
			overflow-y: initial;
		}
	}
}
