@use "/src/sass/abstract" as *;

.card {
	@include shadow(sm);
	border-radius: $rounded-lg;
	background: $white;
	transition: all 300ms ease-in-out;
	padding: $spacing-2;

	&:hover {
		@include transform(scale(1.05));
	}
}
