@use "/src/sass/abstract" as *;

.main-header {
	background: $primary-dark;
	height: 100%;
	padding: 0 $spacing-2;
	@include flex-center-vert;
	@include shadow(sm);

	&__title {
		font-size: $font-size-3xl;
		color: $white;
	}
}
