@use "./variables" as *;

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin transform($prop) {
	-webkit-transform: $prop;
	-ms-transform: $prop;
	transform: $prop;
}

@mixin shadow($size, $color: $slate-dark) {
	@if $size == sm {
		box-shadow: 0 0 $spacing-2 0 $color;
	} @else if $size == md {
		box-shadow: 0 0 $spacing-4 0 $color;
	} @else if $size == lg {
		box-shadow: 0 0 $spacing-6 0 $color;
	}
}

@mixin heading($prop) {
	@if $prop == h1 {
		font-size: $font-size-3xl;
		text-transform: uppercase;
		color: $black;
		font-weight: $font-light;
		@content;
	} @else if $prop == h2 {
		font-size: $font-size-2xl;
		color: $black;
		font-weight: $font-light;
		margin: $spacing-2 0;
		@content;
	} @else if $prop == h3 {
		font-size: $font-size-xl;
		color: $slate-dark;
		font-weight: $font-light;
		margin: $spacing-1 0;
		@content;
	} @else if $prop == h4 {
		font-size: $font-size-lg;
		@content;
	}
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin absolute-position($top, $right, $bottom, $left) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin breakpoint($point) {
	@if $point == sm {
		@media only screen and (min-width: $device-size-sm) {
			@content;
		}
	} @else if $point == md {
		@media only screen and (min-width: $device-size-md) {
			@content;
		}
	} @else if $point == lg {
		@media only screen and (min-width: $device-size-lg) {
			@content;
		}
	} @else if $point == xl {
		@media only screen and (min-width: $device-size-xl) {
			@content;
		}
	}
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-center-column {
	@include flex-center;
	flex-direction: column;
}

@mixin flex-center-vert {
	display: flex;
	align-items: center;
}

@mixin flex-center-horiz {
	display: flex;
	justify-content: center;
}
